* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F8F9FA;
}

a {
    color: #000;
    text-decoration: none;
}

.header {
    position: fixed;
    width: 100%;
}

.menu {
    display: none;
}

.search-navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.search {
    display: flex;
    align-items: center;
    justify-items: center;
}

.search select {
    width: 20%;
    margin-right: 15px;
}

.input-group {
    width: 45%;
    display: flex;
    align-items: center;
}

.input-group span {
    width: 10%;
    padding: 7px;
    cursor: pointer;
    font-size: 25px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #002F34;
    color: #fff;
}

.input-group input {
    border: 2px solid #000;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 45px;
}

.sell {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 5px solid;
    border-color: #0cf0e4 #0b20da #fffb03 #002F34;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    margin-right: 70px;
    cursor: pointer;
}

.dropdown {
    display: flex;
    align-items: center;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #0cf0e4;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.infomation {
    display: flex;
    align-items: center;
}

.infomation img {
    width: 75px;
    height: 75px;
}

.infomation p {
    font-size: smaller;
    margin-top: 5px;
}

.links {
    display: flex;
    align-items: center;
}

.info-icon {
    display: flex;
    align-items: center;
}

.info-icon span {
    margin-right: 15px;
}

.ALL-CATEGORIES {
    margin-top: 150px;
    height: 40px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    box-shadow: 0px 8px 16px 0px #f3f3f3;
}

.Categori-content {
    display: flex;
    justify-content: space-around;
    width: 1300px;
}

.categori-links {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-left: 15px;
}

.ads {
    display: flex;
    justify-content: center;
    background: #ffffff;
}

.ads-info {
    background: #ffffff;
}

.ads-img {
    display: flex;
    justify-content: space-between;
}

.img-info {
    border: 1px solid rgb(61, 61, 61);
    width: 100%;
    height: 300px;
    border-radius: 7px;
    background: #000;
    cursor: pointer;
}

.ads-info img {
    margin-left: 25px;
    width: 80%;
    height: 60%;
}

.img-detail {
    background-color: #ffffff;
    border-left: #fffb03 6px solid;
    height: 40%;
    border-radius: 0px 0px 7px 7px;
}

.img-detail p {
    margin-left: 10px;
}

.img-detail h3 {
    margin-left: 10px;
    margin-top: -9px;
}

.button {
    background-color: #ffffff;
}

.Load-more {
    border: #000 2px solid;
    width: 150px;
    font-size: large;
    background: #5f6464;
    border-radius: 9px;
    border-color: #0b20da #fffb03 #0cf0e4 #002F34;
    color: #ffffff;
}

.bottom-ads {
    background: #F8F9FA;
}

.app {
    border-left: 2px solid #5f6464;
    margin: 20px 0px 20px 20px;

}

.app h5 {
    margin-top: 40px;
    margin-left: 35px;
}

.Main_footer {
    background-color: #ffffff;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    margin: auto;
}

.footer_box h2 {
    font-size: 17px;
    margin: 10px 0 15px 0;
    cursor: pointer;
}

.footer_box p {
    margin: 8px 0 8px 0;
    cursor: pointer;
}

.app-link {
    display: flex;
    align-items: center;
    justify-content: right;
    background: #002F34;
    height: 55px;
}

.app-link h6 {
    padding: 16px 0px;
    margin: 20px;
    color: #ffffff;
    cursor: pointer;
}

@media (min-width: 460px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .navbar {
        width: 100%;
    }

    .proimg {
        margin-top: 12px;
        width: 70px;
        height: 40px;
    }

    .proimg img {
        width: 100%;
        height: 100%;
    }

    .menu {
        display: none;
    }

    .top-icon {
        margin-top: 12px;
        display: flex;
        align-items: center;
        margin-left: 30px;
        width: 160px;
        height: 40px;
    }

    .top-icon span {
        margin: 0px 10px 0px 20px;
        font-size: 200%;
        border-radius: 20px;
        background-color: #bac2c2;
    }

    .top-icon p {
        margin-top: 15px;
    }

    .search-navbar {
        display: flex;
        width: 100%;
        
    }

    .img {
        display: flex;
        justify-content: center;
        width: 100px;
    }

    .img img {
        width: 100%;
        margin-left: 2px;
    }

    .search .form-select {
       
        width: 20%;
        margin-left: 10px;
        margin-right: 10px;
    }
    .input-group{
        width: 50%
    }
    .icons{
        display: flex;
        align-items: center;
        width: 20%;
        justify-content: space-between;
    }
    .icons span{
        font-size: 30px;
        margin-top: 5px;
    }
    .dropdown{
        display:flex; 
       position: relative;
        position: relative;
        display: inline-block;
    }
    .dropdown img{
        margin-bottom: 10px;
    }
    .dropdown span{
        margin-top: 10px;
    }
    .dropdown-content{
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }
    .dropdown-content a:hover {
        background-color: #0cf0e4;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .sell{
        margin-left: 30px;
    }
    
}

@media (Max-width: 450px) {
    .navbar {
        width: 100%;
    }

    .proimg {
        display: none;
    }

    .menu {
        display: inline-block;
        width: 100%;
    }

    .search .img {
        display: none;
    }

    .search select {
        display: none;
    }

    .search .icons {
        display: none;
    }

    .input-group {
        width: 100%;
    }

    .input-group span {
        width: 50px;
    }

    .search-navbar {
        display: block;
    }

    .sell {
        display: none;
    }

    .ALL-CATEGORIES .categori-links {
        display: none;
    }

    .ALL-CATEGORIES .dropdown {
        display: none;
    }

    .ads img {
        display: none;
    }
}