*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
  body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background: #343F4F;
    justify-content: center;
    
  }
  button{
    height: 15%;
    width: 20%;
    font-size: 150%;
    background: #3b413e;
    font-style: italic;
    margin: 25px;
    border: 2px solid #3b413e;
    border-radius: 20px;
    box-shadow: rgba(209, 255, 213, 0.493) 0px 1px 9px 0px;
  }