body {
    font-family: 'Roboto', sans-serif;
}
.navbar{
    transition: background-color 0.5s ease;
    background-color: transparent;
    z-index: 100;
    
}
#navbar.scrolled {
    background-color: #E7ECFF;
}
@media (max-width: 767px) {
    .hide-on-mobile {
        display: none;
    }
    .detail{
        width: 80%;
        text-align: center;
       
    }
}